:root {
  --medium-blue: #379cf6;
  --very-light-grey: #e0e0e0;
}

.progress-bar {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background:
    radial-gradient(closest-side, white 80%, transparent 80% 100%),
    conic-gradient(var(--medium-blue) 75%, var(--very-light-grey) 0);
}

.r-border {
  border-right: 0.1rem solid var(--very-light-grey);
}
